<a href="/">
    <img src="../../public/images/mason_radio_icon.png" alt="Logo" class="header-icon" />
</a>
<nav class="nav-button">
    <ul>
        <li class="nav-bar"><a href="#" onclick="alert('Switching to Manager Page')">Manager</a></li>
        <li class="nav-bar"><a href="/" id="producer">Producer</a></li>
        <li class="nav-bar"><a href="#" onclick="alert('Switching to DJ Page')">DJ</a></li>
    </ul>
</nav>