<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS Is Fun</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </nav>
-->
<section class="containerHead">
  <div class="green a1"></div>
  <div class="green a2">
   <nav>
     <ul style="list-style-type:none;">
       <li onclick="document.location='#'">Producer</li>
       <li onclick="document.location='#'">Manager</li>
       <li onclick="document.location='#'">DJ</li>
     </ul> 
   </nav>
 </div>
 <div class="green a3"></div>
 </section>