<!--
  <meta charset="UTF-8">
<title>EJS Is Fun</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>
-->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>GMU Radio</title>
   <script type="text/javascript" src="/js/assign.js"></script>
   <link rel="stylesheet" href="/css/maincss.css" />
</head>

