<!--<section class="containerHead">
  <div class="green a1"></div>
  <div class="green a2">
   <nav>
     <ul style="list-style-type:none;">
       <li onclick="document.location='#'">Producer</li>
       <li onclick="document.location='#'">Manager</li>
       <li onclick="document.location='#'">DJ</li>
     </ul> 
   </nav>
 </div>
 <div class="green a3"></div>
 </section>-->
 <section class="containerHead">
 <header class="flexbox-header">
  <img src="/res/mason_radio_icon.png" alt="Icon" class="header-icon" />
  <nav>
    <ul>
      <li class="nav-bar"><a href="">Manager</a></li>
      <li class="nav-bar"><a href="">Producer</a></li>
      <li class="nav-bar"><a href="">DJ</a></li>
    </ul>
  </nav>
</header>
</section>