<section class="containerBody">
	<div class="greyer a4">
		<h1>Run a Report</h1>
		<nav>
			<ul style="list-style-type:none;">
				<li onclick="location.href ='/';">Assign DJ Timeslot</li>
				<li>Run a Report</li>
			</ul> 
		</nav>
	 </div>
	 <div class="b1"></div>
	 <div class="b2"></div>
	 <div class="b3" id="form">
		<form name="reportform" action="javascript:buildtable();">
			<h1>Report Settings</h1>
			<br>
			<p>
				<h2>Date Range:</h2>
				<input type="date" id="date-report" name="date-report" value="" min="2024-01-01" max="2024-12-31" onchange="dater()"/>
			</p>
			<br>
			<p>
			<p>
				<h2>Time Slot:</h2>
				<select id="selectslot" required style="width:100%;max-width:70%;" onchange=""/>
					<option></option>
				  </select>
			</p>
			</p>
			<br>
			<input id="run" type="submit" value="Run Report">
			</form>
	</div>
	 <div class="b4">
		<h1>Report</h1>
		<br>
		<p>Songs That DJ Played in line with producer: </p><p id="countSame"></p>
		<p>Songs That DJ Played NOT in line with producer: </p><p id="countDif"></p>
		<p>Songs That DJ Skipped: </p><p id="countSkip"></p>
	 </div>
	</section>