header, footer, nav, main, article, section, figure, 
figcaption, h1, h2, h3, ul, li, body, div, p, img 
{ 
 margin: 0; 
 padding: 0; 
 font-size: 100%; 
 vertical-align: baseline; 
 border: 0; 
 font-family: Arial, sans-serif;

}
body {
	background-color: #046a38;
}


.containerHead{
	background-color: #046a38;
}
/*.containerHead {
	grid-gap: 0px;
	display: grid;
	grid-template-rows: 15vh;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "a1 a2 a2 a2 a3";
   }*/
.containerBody {
	background-color: #ffffff;
	grid-gap: 0px;
	display: grid;
	/*grid-template-rows: 100px 150px auto; grid-auto-rows: 25vh;*/
	grid-template-rows: 11vh 75vh;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"a4 a4 a4 a4 a4"
	"b1 b3 b4 b4 b2";
   }
   a {
	text-decoration:none;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #bcbcbc;
}
[class*="green"] {
	background: #006633;
}
[class*="greyer"] {
background: rgb(125, 155, 127);
}
h1{
	font-size: 1.4em;
	color:#ffcc33;
}
div, li{
 transition-property: background-color;
 transition-duration: 0.5s;
 transition-timing-function: ease-out;
 transition-delay: 0s;
}

.menu1 {
 cursor: pointer;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content:center;
 padding: 1vh;
}

.menu1 li {
	flex: 1 1 auto;
	margin: 0 10px;
	width: 50px;
	background: white;
	/* border-style: solid;
	border-width: 5px;
	border-radius: 15px; */
	text-align: center;
	font-size: 1.2em;
	clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0px 100%);
}
.menu1{
margin:0 200px 0 200px;
}
li:hover {
	background-color: #ffcc33;
}
.a1 { grid-area: a1; }
.a2 { grid-area: a2; 
padding: 25px;}
.a3 { grid-area: a3; }
.a4 { grid-area: a4; 
	text-align: center;
	padding-top: 10px;}
.b1 { grid-area: b1; }
.b2 { grid-area: b2; }
.b3 { grid-area: b3; }
.b4 { grid-area: b4; 
	text-align: center;
	padding-top: 10px;}

form{
	padding-top: 10px;
}
option{
	max-width:  10px
}
table{
	align-self: center;
	margin: 0 auto;
	min-width: 50%;
}




  
  /* The popup form - hidden by default */
  .form-popup {
	display: none;
	border: 3px solid #f1f1f1;
	z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
	max-width: 400px;
	padding-top: 0%;
	background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
	width: 90%;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: #04AA6D;
	color: white;
	border: none;
	cursor: pointer;
	width: 80%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }



  .nav-bar {
	display: inline-block;
	margin-right: 20px;
  }
  .nav-bar a {
	padding: 10px 20px; /* Adjust padding to make the buttons larger */
	background-color: black;
	color: gold;
	border-radius: 5px;
	text-decoration: none;
  }
  .nav-bar a:hover {
	background-color: #333; /* Change color on hover */
  }
  .flexbox-header {
	background-color: #046a38;
	color: gold;
	text-align: center;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
  }
  .header-icon {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 80px;
	height: 80px;
  }




img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
  }
  