<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headreport'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <%- include('../partials/mainreport'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>